@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen bg-background text-white selection:bg-primary selection:text-white;
  }
}

html {
  scroll-behavior: smooth;
}

input:focus {
  outline: none;
}
